<h1>Houston Rides </h1>

<img src="/images/home.jpg">

<h2>Welocome to Houston Rides</h2>
<h4>Find your favorite local bike trails & events</h4>
<h3><%= link_to 'Sign In', login_path%>      <%=link_to 'Sign Up', signup_path %></h3>